<html>
	<head>
		<title>qtip's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Qtip's Blog</a></h1>
		</div>
		<div>
			<p>published: 14.06.2014, 12:14</p>
			<h2><a href="">My First post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, ipsa.</p>
		</div>
		<div>
			<p>published: 14.06.2014, 12:14</p>
			<h2><a href="">My second post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima perferendis id, quas.</p>
		</div>

	</body>
</html>